<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>chaser_run_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 0}, {36, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{82, 52}</string>
			<key>spriteSourceSize</key>
			<string>{82, 52}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{253, 1}, {82, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>chaser_run_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 0}, {36, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{82, 52}</string>
			<key>spriteSourceSize</key>
			<string>{82, 52}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{337, 1}, {82, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>chaser_run_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 2}, {34, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{82, 52}</string>
			<key>spriteSourceSize</key>
			<string>{82, 52}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{421, 1}, {82, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>chaser_run_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 2}, {34, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{82, 52}</string>
			<key>spriteSourceSize</key>
			<string>{82, 52}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1, 55}, {82, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>chaser_run_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 2}, {32, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{82, 52}</string>
			<key>spriteSourceSize</key>
			<string>{82, 52}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1, 1}, {82, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>chaser_run_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 2}, {30, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{82, 52}</string>
			<key>spriteSourceSize</key>
			<string>{82, 52}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1, 163}, {82, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>chaser_run_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 2}, {30, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{82, 52}</string>
			<key>spriteSourceSize</key>
			<string>{82, 52}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1, 109}, {82, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>chaser_run_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 2}, {38, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{82, 52}</string>
			<key>spriteSourceSize</key>
			<string>{82, 52}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{85, 109}, {82, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>chaser_run_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 0}, {40, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{82, 52}</string>
			<key>spriteSourceSize</key>
			<string>{82, 52}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{169, 1}, {82, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>chaser_run_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 0}, {36, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{82, 52}</string>
			<key>spriteSourceSize</key>
			<string>{82, 52}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{85, 55}, {82, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>chaser_run_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 2}, {34, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{82, 52}</string>
			<key>spriteSourceSize</key>
			<string>{82, 52}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{85, 163}, {82, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>chaser_run_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 2}, {34, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{82, 52}</string>
			<key>spriteSourceSize</key>
			<string>{82, 52}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{85, 1}, {82, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>monkey_run_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {43, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{57, 49}</string>
			<key>spriteSourceSize</key>
			<string>{57, 49}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{228, 157}, {57, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>monkey_run_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 1}, {31, 39}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{57, 49}</string>
			<key>spriteSourceSize</key>
			<string>{57, 49}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{169, 157}, {57, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>monkey_run_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 2}, {37, 39}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{57, 49}</string>
			<key>spriteSourceSize</key>
			<string>{57, 49}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{228, 106}, {57, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>monkey_run_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 1}, {41, 41}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{57, 49}</string>
			<key>spriteSourceSize</key>
			<string>{57, 49}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{346, 55}, {57, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>monkey_run_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 1}, {41, 41}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{57, 49}</string>
			<key>spriteSourceSize</key>
			<string>{57, 49}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{287, 55}, {57, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>monkey_run_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 8}, {37, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{57, 49}</string>
			<key>spriteSourceSize</key>
			<string>{57, 49}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{169, 106}, {57, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>monkey_run_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 6}, {33, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{57, 49}</string>
			<key>spriteSourceSize</key>
			<string>{57, 49}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{405, 55}, {57, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>monkey_run_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 7}, {43, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{57, 49}</string>
			<key>spriteSourceSize</key>
			<string>{57, 49}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{169, 55}, {57, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>monkey_run_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 9}, {45, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{57, 49}</string>
			<key>spriteSourceSize</key>
			<string>{57, 49}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{287, 106}, {57, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>monkey_run_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 8}, {47, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{57, 49}</string>
			<key>spriteSourceSize</key>
			<string>{57, 49}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{228, 55}, {57, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 256}</string>
		<key>name</key>
		<string>animation_frames</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>cocos2d</string>
			<key>textureFileName</key>
			<string>animation_frames_cocos2d</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>animation_frames_cocos2d</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>